@import "../../styles/vars";

// $orbit-radius: $orbit-size / 2;
// $planet-size: 70px;

// @keyframes planet-rotate {
//   $modifier: 1;
//   @for $i from 0 through 20 {
//     $step: $i * 5;
//     $angle: ($step * 360) / 100;
//     $modifier: $modifier * -1;
//     #{$step}% {
//       transform: rotate(#{$angle}deg) translate($orbit-radius + $planet-size - (20px * $modifier), 20px * $modifier) rotate(#{360 - $angle}deg);
//     }
//   }
// }

// @keyframes planet-out {
//   0% {
//     transform: translate(0, 0);
//   }
//   100% {
//     transform: translate($orbit-radius + $planet-size, 50px);
//   }
// }


.planet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: mediumaquamarine;
  box-sizing: border-box;

  font-weight: 800;
  font-size: 0px;
  text-indent: -9999px;
  
  position: absolute;
  top: 50%;
  left: 50%;

  // margin: -($planet-size / 2);

  // animation: planet-rotate linear infinite;

  // animation-name: planet-rotate;
  // animation-duration: $animation-duration;
  // animation-iteration-count: infinite;
  // animation-timing-function: linear;
  // animation-delay: 1000ms;

  &:hover {
    font-size: 40px;
    text-indent: 0;
    // width: $planet-size;
    // height: $planet-size;
    background-color: transparent;
    border: 5px solid black;
  }

  &_active {
    // animation: planet-out 1s ease-out forwards, planet-rotate $animation-duration 1000ms linear infinite;
  }
}